name: Test Python App

on:
  push:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: python -m pip install --upgrade pip
      - run: pip install fastapi uvicorn pytest httpx pydantic-settings
      - run: export PYTHONPATH=$PYTHONPATH:./src
      - run: python -m pytest tests/
